@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');

:root {
    --color-primary-dark: #19202d;
    --color-primary-background: #f2f2f2;
    --color-violet: #5964e0;
    --color-light-violet: #939bf4;
    --color-dark-blue: #19202d;
    --color-midnight: #121721;
    --color-second-btn: #5964e01d;
    --color-second-btn-hv: #5964e05e;
    --color-card: #ffffff;
    --color-light-grey: #F4F6F8;
    --color-grey: #9daec2;
    --color-placeholder: #19202d86;
    --color-dark-grey: #6E8098;
    --color-yo: #5964e0;
    --color-filter: #6E8098;

    --card-border-radius: 6px;
    --card-width: 330px;
    --card-height: 228px;
    --card-padding: 49px 9px 32px 32px;

    --button-radius: 5px;
    --button-width: 141px;
    --button-height: 48px;

    --border-radius-1: 5px;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 26px;
    background: var(--color-primary-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-primary-dark);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    width: 100vw;
    height: 100vh;
}

h1 {
    font-size: 28px;
    line-height: 34px;
    font-weight: 800;
}

h2 {
    font-size: 24px;
    line-height: 29px;
    color: var(--color-dark-blue);
}

h3 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: var(--color-dark-blue);
}

h4 {
    font-size: 14px;
    line-height: 18px;
}

.small {
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    color: var(--color-violet);
}

span {
    font-size: 16px;
    line-height: 19.8px;
}
p, span, label, ul, ol {
    color: var(--color-dark-grey);
}

a {
    text-decoration: none;
}

a:active {
    color: black;
}

.flex {
    display: flex;
}

.flex-row {
    display: flex;
    flex-flow: row;
}
.flex-col {
    display: flex;
    flex-flow: column;
}

.all-center {
    justify-content: center;
    align-items: center;
}

.aln-center {
    align-items: center;
}

.space-btw {
    justify-content: space-between;
}

.post-det {
    height: 88px;
}

.mg-lr-small {
    margin-left: 7px;
    margin-right: 7px;
}

.mg-r-16 {
    margin-right: 16px;
}

.mg-t-28 {
    margin-top: 28px;
}

.w-300 {
    width: 300px;
}

form input.w-300 {
    width: 300px !important;
}

/* ---------Dark Theme--------- */
.dark-theme-variables {
    --color-primary-background: #121721;
    --color-card: #19202D;
    --color-dark-blue: #ffffff;
    --color-dark-grey: #9DAEC2;
    --color-second-btn: #ffffff24;
    --color-second-btn-hv: #ffffff50;
    --color-yo: #ffffff;
    --color-placeholder: #9daec264;
    --color-filter: #ffffff;
}
/* End of Dark Theme */




/* ******* MAIN CSS WORK ******* */


header {
    height: 162px;
    width: 100vw;
    top: -1px;
    left: 0;
    background-image: url("./assets/tablet/bg-pattern-header.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.head-contain {
    height: 162px;
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -122px;
}

.header-form {
    width: 1110px;
    height: 80px;
    background-color: var(--color-card);
    border-radius: 6px;
}

.header-detail {
    width: 730px;
    height: 140px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color-card);
    border-radius: 6px;
    margin-bottom: -54px;
    align-items: center;
    padding-right: 40px;
}

.by-tit {
    width: 38%;
    border-right: 2px solid #6e809845;
}

.by-loc {
    width: 32%;
    border-right: 2px solid #6e809845;
}

.by-check {
    width: 32%;
}

.by-tit,
.by-loc,
.by-check {
    height: 100%;
    padding-left: 32px;
    padding-right: 16px;
    align-items: center;
    transition: all 300ms;
    cursor: pointer;
}

.by-tit:hover,
.by-loc:hover,
.by-check:hover {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

form input[type="text"] {
    border: none;
    outline: none;
    width: 217px;
    color: var(--color-dark-blue);
    font-size: 16px;
    font-family: 'Kumbh Sans', sans-serif;
    line-height: 20px;
    letter-spacing: 0.4px;
    background-color: var(--color-card);

}

form input[type="text"]::placeholder {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 16px;
    line-height: 19.8px;
    color: var(--color-placeholder);
}

button {
    width: var(--button-width);
    height: var(--button-height);
    border-radius: var(--button-radius);
    background-color: var(--color-violet);
    color: #ffffff;
    border: none;
    outline: none;
    font-family: 'Kumbh Sans', sans-serif;
}

#yo button {
    background-color: var(--color-second-btn);
    color: var(--color-yo);
    font-weight: 700;
}

#yo button:hover {
    background-color: var(--color-second-btn-hv);
}


button:hover {
    background-color: var(--color-light-violet);
}

button,
a,
.logo,
.logo-icon,
input[type="checkbox"] {
    cursor: pointer;
}

#load-more {
    margin-left: auto;
    margin-right: auto;
}





/* ----------Container CSS---------- */
#container {
    width: 1110px;
    height: auto;
    margin: auto;
    margin-top: 80px;
    padding: 0;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    row-gap: 40px;
}

#detail-container {
    width: 730px;
    height: auto;
    margin: auto;
    margin-top: 100px;
    padding: 0;
}


.covering-card {
    width: var(--card-width);
    height: 250px;
}

.covering-card:hover .card {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    /* outline: 0.5px solid var(--color-light-violet); */
}

.covering-card:hover .logo {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    outline: 0.5px solid var(--color-light-violet);
    transform: rotate(20deg);
}

.card {
    width: var(--card-width);
    height: var(--card-height);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    background-color: var(--color-card);
    transition: box-shadow 300ms;
}

.detail-card {
    width: 730px;
    height: auto;
    margin: auto;
    padding: 45px 43px 30px 43px;
    background-color: var(--color-card);
    border-radius: var(--card-border-radius);
}


.logo {
    width: 50px;
    height: 50px;
    margin-left: 32px;
    border-radius: 15px;
    margin-bottom: -25px;
    background-color: var(--color-dark-blue);
    position: relative;
    z-index: 2;
    transition: transform 300ms;
}

#load-more {
    margin-top: 56px;
    margin-bottom: 104px;
}


#detail-logo {
    height: 140px;
    width: 140px;
    border-radius: 6px 0 0 6px;
}

.side-by-side {
    height: 140px;
    width: 280px;
}

.detail-comp-detail {
    height: 140px;
    width: 140px;
    justify-content: center;
    gap: 10px;
    padding-left: 37px;
}

#detail-pic {
    height: auto;
    width: 81px;
}

.ul-ol {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 20px;
}

.req-list {
    padding-left: 10px;
    line-height: 30px;
}

footer {
    width: 100vw;
    height: 96px;
    bottom: 0;
    margin-bottom: -1px;
    margin-top: 80px;
    background-color: var(--color-card);
    border-radius: 6px;
}

.below-details {
    width: 730px;
    height: 96px;
    margin-left: auto;
    margin-right: auto;
}

.bk-btn {
    background-color: #6e809870;
    color: var(--color-violet);
}

.bk-btn:hover {
    background-color: red;
    color: #ffffff;
}

.theme-toggler {
    background: #2323235c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}

.theme-toggler span{
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme-toggler span.active{
    background: var(--color-light-grey);
    color: white;
    border-radius:var(--border-radius-1);
    outline: 2px solid white;
    border: 1px solid white;
}

.mob-show {
    display: none;
}

button:disabled {
    background-color: var(--color-light-violet);
    cursor: not-allowed;
    color: red;
}
/* --------Tablet View-------- */

@media screen and (max-width: 1100px) {
    .head-contain,
    .header-detail,
    .detail-card,
    .below-details,
    #detail-container { 
        width : 689px;
     }
     
     .header-form {
        width : 689px;
     }
   
     form input[type="text"] {
        width: 140px;
     }
   
     form input.w-300 {
        width: 182px !important;
     }
   
     button#search {
        width: 80px;
     }
   
     .mg-r-16 {
        margin-right: 5px;
     }
   
     #container {
        width: 689px;
        grid-template-columns: auto auto;
     }
   
     label {
        width: 90px;
     }

     .by-tit, .by-loc, .by-check {
        padding-left: 13px;
     }

     header {
        background-image: url("./assets/tablet/bg-pattern-header.svg");
    }
}
/* End of Tablet View */

/* --------Mobile View-------- */

@media screen and (max-width: 480px) {
    .head-contain,
    .header-detail,
    .detail-card,
    .below-details,
    .header-form,
    #detail-container { 
        width : 327px;
     }

     #container {
        width: 327px;
        grid-template-columns: auto;
        row-gap: 24px;
        margin-top: 40px;
     }

     #load-more {
        margin-top: 40px;
        margin-bottom: 50px;
    }

    .mob-hidd {
        display: none;
    }

    .mob-mob.flex-row.aln-center {
        display: flex;
        flex-flow: column;
        height: 200px;
        align-items: start;
    }

    .detail-card {
        padding: 45px 24px 30px 24px;
    }

    h2.mob-mob {
        font-size: 20px;
        line-height: 40px;
    }

    button.mob-mob {
        width: 279px;
    }

    .header-detail {
        height: 207px;
        margin-bottom: -151px;
    }

    main.mob-mob {
        margin-top: 80px;
    }

    .mob-mob.header-detail.flex-row.space-btw {
        flex-flow: column;
        justify-content: space-around;
        align-items: center;
        padding: 0 0 20px 0;
    }

    .side-by-side.flex-row {
        flex-flow: column;
        width: auto;
        height: 100px;
    }

    .detail-comp-detail {
        padding: 0;
        align-items: center;
        height: 70px;
        width: 70px;
        margin: auto;
    }

    #detail-logo {
        width: 50px;
        height: 50px;
        border-radius: 15px;
        position: relative;
        z-index: 2;
        margin-left: auto;
        margin-right: auto;
        margin-top: -35px
    }

    #detail-pic {
        height: auto;
        width: auto;
    }

    header {
        background-image: url("./assets/mobile/bg-pattern-header.svg");
    }

    .mob-show {
        display: inline-flex;
    }

    .mob-hide {
        display: none;
    }

    .by-check {
        width: 50%;
        padding-left: 50px;
    }

    .by-tit {
        width: 50%;
        border-right: 0;
    }
    form input.w-300 {
        width: 105px !important;
    }
    button#search {
        width: 48px;
    }

    .header-form {
        padding-left: 10px;
    }
}
